*{margin: 0px auto;}
html ,body {
	height: 100%;
}

.container{
	min-height: 100%;
	position: relative;
	font-size: 20px;
}
body{
	background-color: #white;
	font-family: "Lato", sans-serif;
	margin: 0px;
}

.head{
	background:#47FCFA;
     background:-webkit-linear-gradient(top,#47FCFA 0%,#FFFFFF 75%);
     background:-moz-linear-gradient(top,#47FCFA 0%,#FFFFFF 75%);
     background:-o-linear-gradient(top,#47FCFA 0%,#FFFFFF 75%);
     background:-ms-linear-gradient(top,#47FCFA 0%,#FFFFFF 75%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47FCFA',endColorstr='#FFFFFF',GradientType=0);
     height:100px;
}

h1{
	color: #f6ff66;
}
.img{
	margin-left: 30px; 
	padding-top: 25px;
	padding-bottom: 25px;
}
#header{
	border-bottom: 1px solid #16E9E2;
}
nav {
 	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
 	} 

nav ul {
	position: absolute;
	margin: 5px;
	right: 0;
	top: 25px;
	padding: 10px;
}

nav ul li {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #605757;
}

nav ul li:hover a{
 		color:blue;
 		}
a {
	text-decoration: none;
	color: black;
}
.body{
	max-width: 100%;
	margin: auto;
	height: 100%;
}
.nama{
	color: black;
	font-size: 30px;
	position: absolute;
	top: 550px;
	width: 100%;
	text-align: center;
}

.dot{
	height: 15px;
  	width: 15px;
 	margin: 0 2px;
	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}
.next{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 600px;
}

.active{
	background-color: #717171;
}

/*Animasi*/
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 2s;
  	animation-name: fade;
  	animation-duration: 2s;
}

@-webkit-keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4} 
  	to {opacity: 1}
}

@media only screen and (max-width: 300px) {

.text {font-size: 11px}

}

.form{
	position: absolute;
	width: 280px;
	background-color:white;
	margin-top: 20px;
	margin-left: 940px; 
	padding: 10px;
	border: 3px solid #f7f7f7;
}
ol, ul {
    list-style: none;
}
li{
	display: inline-block;

}
.zoom-effect:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}


.footer {
	height: 50px;
	line-height: 50px;
	background:#433E3E;
	color: #EBE8E8;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
table {
	border: none;
}